# LOCAL MODEL PATH
MODEL_PATH=
# Roboflow
ROBOFLOW_API_KEY=

# API
ENDPOINT_RB=
ENDPOINT_YOLO=
ENDPOINT_MOVE=
ENDPOINT_ODDS=

# Your personal GCP project
GCP_PROJECT=
GCP_REGION=

# Cloud Storage
BUCKET_NAME=

# API on Gcloud Run

# Docker
GCR_IMAGE=
GCR_REGION=
GCR_MEMORY=
SERVICE_URL=
